<div class="category-contant">
  <ul fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
      <li fxLayout="column"><a class="no-brd" [routerLink]="['/home/products/all']"><i class="material-icons">dehaze</i>Show All</a></li>
      <li fxLayout="column"><a [routerLink]="['/home/products/Headphones']"><i class="material-icons">Kurtas</i> Kurtas</a></li>
      <li fxLayout="column"><a [routerLink]="['/home/products/Laptops']"><i class="material-icons">Sarees</i>Sarees</a></li>
      <li><a [routerLink]="['/home/products/Smartphones']"><i class="material-icons">Kurta Sets</i>Kurta Sets</a></li>
      <li><a [routerLink]="['/home/products/Cameras']"><i class="material-icons">Dupatta</i>Dupatta</a></li>
      <li><a [routerLink]="['/home/products/Tv & Audio']"><i class="material-icons">Palazzos</i>Palazzos</a></li>
      <li><a [routerLink]="['/home/products/Watches']"><i class="material-icons">Lehenga Choli</i>Lehenga Choli</a></li>
  </ul>
</div>
