<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/home/products/all']">Show All</a></li>
        <li><a [routerLink]="['/home/products/Headphones']">Tights</a></li>
        <li><a [routerLink]="['/home/products/Laptops']">Night suits</a></li>
        <li><a [routerLink]="['/home/products/Smartphones']">Leggings</a></li>
        <li><a [routerLink]="['/home/products/Cameras']">Dresses</a></li>
        <li><a [routerLink]="['/home/products/Tv & Audio']">Sarees</a></li>
        <li><a [routerLink]="['/home/products/Watches']">Kurtas</a></li>
    </ul>
</div>