<!-- <div class="brands-items">
    <mat-radio-group
    (change)="brendSelect($event)"
    aria-labelledby="example-radio-group-label"
    class="example-radio-group">
    <mat-radio-button fxLayout="row" class="example-radio-button" *ngFor="let brand of brands" [value]="brand" multiple>
      {{brand}}
    </mat-radio-button>
  </mat-radio-group>
</div> -->

<mat-selection-list  (selectionChange)="selectChange(brandsSec.selectedOptions.selected)" #brandsSec>
  <mat-list-option  class="cat-list" color="primary" *ngFor="let brand of brands"
  [value]="brand.id"
  >
    {{brand.name}}
  </mat-list-option>
</mat-selection-list>